body
  background #fff
  font-family Arial
  font-size 20px

.temperature
  text-align center
  font-size 10em
  margin-top 50px
  .unit
    font-size .3em
    position relative
    top -1.6em
    color #666
.time
  position absolute
  bottom 0
  right 0
  padding 5px