global-reset()

body
  background #fff
  font-family Arial, sans-serif
  font-size 20px

.temperature
  text-align center
  font-size 10em
  margin-top 50px
  .unit
    font-size .3em
    position relative
    top -1.6em
    color #666
.time
  position absolute
  bottom 0
  right 0
  padding 10px
.chart
  margin 20px 0
.battery
  display block
  height 6px
  background #000
  position absolute
  bottom 0
  left 0
  width 100%